#footer {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(10%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(src/assets/img/baofooter.jpg);
    padding-bottom: 50px;
  }