.table_wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.a-bill {
  color: black;
}

.table-bill {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#fate {
  position: relative;
  padding: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(/assets/img/backgroundlist.jpg);
}

.offcanvas {
  width: 500px;
}

.vnd {
  width: 140px;
}

.tien {
  text-align: right;
}

.search-1 {
  width: 200px;
}

/*.form-search{*/
/*  margin-left: 100%;*/
/*}*/

.th-stt {
  width: 10px;
}

.thead-bill {
  height: 60px;
  background: #744e3a;
}

.button-page {
  background: #744e3a;
  color: white;
}

.button-1 {
  background: #744e3a;
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.th-bill {
  text-align: center;
  padding-bottom: 20px;
  /*font-weight: 600;*/
}

.td-bill {
  text-align: center;
  /*font-weight: 600;*/
}

.name{
  width: 200px;
}

.wrap-table100 {
  width: 100%;
}

.number-pages{
  padding-left: 10px;
  background: white;
  color: blue;
  width: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 45%;
}

.page-item {
  color: black;
}

.in-bill {
  width: 100px;
  border: 0px;
  text-align: right;
}

nav ul label {
  color: white;
  padding-left: 5px;
}
