<table>
  <tr>
    <td col-3>
      <h1>C0222G2 COFFEE</h1>
    </td>
  </tr>
  <tr>
    <td col-3>
      <h5>DC: 295 Nguyen Tat Thanh - Da Nang</h5>
    </td>
  </tr>
  <tr>
    <td col-3>
      <h5>SDT: 0236 6517 021</h5>
    </td>
  </tr>
  <tr>
    <td col-3>
      -------------------------
    </td>
  </tr>
  <tr>
    <td col-3>
      <h4><b>Hoa Don Thanh Toan</b></h4>
    </td>
  </tr>
  <tr>
    <td>
      <b>So:</b>
    </td>
    <td col-2>

    </td>
  </tr>
  <tr>
    <td>
      <b>Ban:</b>
    </td>
    <td col-2></td>
  </tr>
  <tr>
    <td>
      <b>Ngay:</b>
    </td>
    <td col-2></td>
  </tr>
  <tr>
    <td>
      <b>Nhan Vien:</b>
    </td>
    <td col-2></td>
  </tr>
</table>

<table class="table">
  <thead>
  <tr>
    <th><b>Ten Mon</b></th>
    <th><b>So Luong</b></th>
    <th><b>Gia(VND)</b></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td class="tien"></td>
  </tr>
  </tbody>
</table>
